<%- include('partials/header') %>
<main>
    <h1>resultatenpagina</h1>
    <p>Server Data:</p>
    <ul>
      <% resData.serverData.courseName.forEach(function(course, index) { %>
        <li>
          <strong><%= course %></strong>
          <ul>
            <li>Docenten: <%= resData.serverData.teacherName[index] %></li>
            <li>Weken: <%= resData.serverData.courseWeeks[index] %></li>
            <li>Moeilijkheidsgraad: <%= resData.serverData.lessonDifficulty[index] %></li>
            <li>Duidelijkheid uitleg: <%= resData.serverData.explanationClarity[index] %></li>
            <li>Persoonlijk begrip: <%= resData.serverData.personalUnderstanding[index] %></li>
          </ul>
        </li>
      <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>
